/* style for the right-side section */

body {
    background-color:lightcyan;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: center;
    border: 5px;
    border-style: solid;
    font-size: 100px ;
}


section.listOfFish {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 5px;
    border-style: solid;
    margin-top: 100px;
    margin-right: 400px;
}


section.travelTips {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px;
    border-style: solid;
    margin-top: 100px;
    margin-right: 400px;
    
}

section.places{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px;
    border-style: solid;
    margin-top: 100px;
    margin-right: 400px;
}

aside { 
    background-color: lightblue;
    border: 5px;
    border-style:solid;
    width: 300px;
    margin-left: auto;
    margin-top: -445px;
}
